.header h1 {
  width: 528px;
  height: 77px;
  left: 53px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #002830;
  margin-top: 87px;
  margin-bottom: 49px;
  }

.header1 h2 {
  height: 58px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  color: #002830;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 20px;
  }
  .header1 h3 {
    width: 379px;
    height: 39px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color:  #002830;;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-bottom: 25px;
    }

    .header2 h2 {
      height: 58px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      display: flex;
      align-items: center;
      color:  #FD4703;
      flex: none;
      order: 0;
      flex-grow: 0;
      margin-bottom: 20px;

      }
    
      .header2 h3 {
        width: 379px;
        height: 39px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        color: #FD4703;
        flex: none;
        order: 1;
        flex-grow: 0;
        margin-bottom: 25px;
        }

.title {
  margin-bottom: 30px;  
}