.Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 98px;
    background: rgba(215, 210, 203, 0.3);
    box-shadow: 0px 2px 8px rgba(0, 40, 48, 0.3);
    backdrop-filter: blur(2px);
}

.ContentWrapper  {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Links {
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    order: 0;
    flex-grow: 0;
    margin-bottom: 71.5px;
    margin-top: 74.5px;
    text-align: right;
}

.Links a {
    margin-left: 10px;
    width: 113px;
    height: 18px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    color: rgba(0, 40, 48, 1) !important;
    align-items: center;
    text-transform: uppercase;
    flex: none;
    order: 2;
    flex-grow: 0;
    opacity: 0.5;
    font-family: "Montserrat";

}

.HeaderLogo {
    margin-left: 60px;
}


header a:hover {
    color: rgba(0, 40, 48, 1) !important;
    opacity: 1;
    font-weight: 700;
  }

  header a:active {
    color: rgba(0, 40, 48, 1) !important;
    opacity: 1;
    font-weight: 700;
  }



  .TranslateFr {
    width: 35px;
    height: 35px;
    border-radius: 5px 0px 0px 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    text-transform: uppercase;
    color: #002830;
    border: 4px solid #D7D2CB;
    opacity: 0.5;
  }
  .TranslateEn {
    width: 35px;
    height: 35px;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
    text-transform: uppercase;
    color: #002830;
    border: 4px solid #D7D2CB;
    opacity: 0.5;
    margin-left: -50px;
  }
  .TranslateSlider {
    flex: none;
    order: 1;
    flex-grow: 0
  }

@media (min-width: 768px) {
    .Header {
        padding: 0;
    }
    .Links a {
        margin-right: 4rem;
    }
}